<h1>New theme</h1>

<% if current_user.admin && user_signed_in?%>

  <%= form_with model: @theme_update_path do |f| %>

    <%= f.label :name_of_theme%>
    <%= f.text_field :name_of_theme,required:true,minlength:4,placeholder:"Name_of_theme" %>

    <%= f.submit "Submit theme" %>
  <% end %>
<%end %>